/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
} */

img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.wrapper{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
}

.container{
    padding: 20px;
    width: 40%;
    margin: 10px;
    border-radius: 10px;
    background-color: aliceblue;
    border: 1px solid;
    box-shadow: 10px, 10px;
}

.loader{
    height: 100px;
    width: 100px;

    /*Make a container with three side border as secondary and one side as
    primary color then add radius to it to make it circle */

    border: 10px solid lightgrey;  
    border-top: 10px solid blue;
    border-radius: 50%;

    /*Specify animation name, duration, count*/
    animation: animate 1s infinite;
}

/*keyframes must neccessarily be outside the selector*/
@keyframes animate {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }

